<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
  <form method="POST" action="/piglatinize">
  <h3> Enter your phrase: <input type="text" name="user_phrase"></h3>
  <input type="submit">
  </form>
  </body>
</html>